<footer class="footer">
  <div class="footer-container">
    <p>© 2025 Sumit Kumar | All Rights Reserved <i class="fas fa-heart"></i></p>
   
  </div>
  <div class="footEle">
    <a href="/">Home</a>
      <a href="#skills">Skills</a>
      <a href="/aboutMe">About Me</a>
  </div>
</footer>