 <div class="container" >
   <header>
    <h1 class="logo">Sinwar<span style="color:#2ECCB6">X</span></h1>
      
    <nav id="nav-links">
      <a href="/">Home</a>
      <a href="#skills">Skills</a>
      <a href="/aboutMe">About Me</a>
      

      
    </nav>

    
    <div class="dcv"><a href="assets/Sumit_Kumar_CV.pdf" download class="cv-btn">Download CV</a></div>
  </header>

 </div>
